body{

    background:#070b14;
    color:white;
    font-family:Inter,sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.container{

    width:90%;
    max-width:700px;
}

.card{

    background:#101827;

    padding:40px;

    border-radius:25px;

    text-align:center;
}

.spinner{

    width:60px;
    height:60px;

    border:6px solid #333;

    border-top:6px solid #00ff88;

    border-radius:50%;

    margin:auto;

    animation:spin 1s linear infinite;
}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}

.ebook-cover{

    width:280px;

    max-width:100%;

    border-radius:20px;

    margin-bottom:20px;
}

.download-btn,
.retry-btn{

    display:inline-block;

    margin-top:20px;

    padding:15px 30px;

    background:#00ff88;

    color:#00150c;

    font-weight:bold;

    border-radius:50px;

    text-decoration:none;
}